#repo-created-time {
  list-style: none;
  margin-right: 16px;
}
#repo-created-time svg {
  vertical-align: text-bottom;
  margin-right: 4px;
  fill: var(--fgColor-muted, #57606a);
}
#repo-created-time span {
  color: var(--fgColor-muted, #57606a) !important;
  font-size: 14px;
}